.chart {
  padding: 1rem;
  border-radius: 12px;
  /* background-color: #f8dfff; */
  background-image: linear-gradient(
    to top left,
    #f8dfff 0%,
    rgb(236, 231, 231) 100%
  );
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
}
